// Card INFO
#cardInfo
  .infoPanel
    h2 Card Info
    img(src="", alt="")#cardSpoiler
    dl.dl-horizontal
      dt
        strong Name:
      dd
        |  <span id='cardName'></span>
      dt
        strong Type:
      dd
        |  <span id='cardType'></span>
      dt
        strong Mana cost:
      dd  
        |  <span id='cardManaCost'></span>
      dt
        strong Set:
      dd  
        |  <span id='cardSet'></span>
      dt
        strong Text:
      dd
        | <span id='cardText'></span>
      dt
        strong Flavor:
      dd  
        | <span id='cardFlavor'></span>
      dt
        strong P/T
      dd
        | <span id="cardPowerToughness"></span>
