extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button(type="button", data-toggle="collapse", data-target="#mainNav").navbar-toggle.collapsed
          span.fa.fa-menu
        a(href="#").navbar-brand= title
      #mainNav.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/") Deckbuilder
          li
            a(href="/") Play
  .container-fluid
    .row
      .col-md-9.main
        p Welcome to #{title}
        
        // Filter
        include includes/filter.jade
        
        // CARD LIST
        #cardList
          h2 Card list
          table.table.table-bordered.table-striped
            thead
              th Cardname
              th Type
              th P/T
              th Add?
            tbody
            // /CARD LIST
        
      .col-md-3.sidebar
        // Card info panel
        include includes/cardInfo.jade
